* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth;
}

/*================custom properties==================*/
:root {
    /*colors*/
    --accent-clr: rgb(240, 170, 41);
    --dominant-clr: rgb(241, 241, 241);
    --secondary-clr: rgb(0, 0, 0);

    /*font family*/
    --primary-ff: 'Raleway', sans-serif;;

    /*font size*/
    --hero-fs: 10rem;
    --h1-fs: 4.25rem;
    --h2-fs: 2.5rem;
    --h3-fs: 1.25rem;
    --normal-fs: 1rem;
    --small-fs: .875rem;
    --smaller-fs: .813rem;

    /*white-space*/
    --ws-1: .5rem;
    --ws-2: 1rem;
    --ws-3: 1.5rem;
    --ws-4: 2rem;
    --ws-5: 2.5rem;
    --ws-6: 3rem;
    --ws-adjustable: 10%;

    /*z-index*/

}


/*=================typography==================*/
body {
    font-size: var(--normal-fs);
    font-family: var(--primary-ff);
    color: var(--secondary-clr);
    background-color: var(--dorminant-clr);
}


a {
    text-decoration: none;
    outline: none;
    color: var(--secondary-clr);
}

a:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

/*===================general class styling=================*/
.container {
    width: 100%;
    margin: 0 auto;
    z-index: var(--z-index);
}

.hero, .testimonial, .about{
    padding: var(--ws-6)
    var(--ws-adjustable);
}

.section-head {
    font-size: var(--h1-fs);
    font-weight: 600;
}

/*===================header=================*/
header {
    max-width: 100%;
    padding: var(--ws-3) var(--ws-adjustable);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

li {
    display: inline-block;
    margin-left: var(--ws-4);
}

.nav-link {
 transition: all 1s;
}

.nav-link:hover {
    color: var(--accent-clr);
}

/*===================main=================*/
/*=======hero=======*/
.hero-mp4 {
    position: relative;
    top: -3.5rem;
    right: 0;
    width: 100%;
    min-height: 100%;
    border-radius: 40px;
    z-index: -1;
}

.hero-panel h1 {
    font-size: var(--hero-fs);
    line-height: 0.8;
    font-weight: 600;
}

.hero-logo {
    letter-spacing: 35px;
    text-transform: uppercase;
}
.hero-cta {
    position: absolute;
}

.hero-hashtag {
    text-align: center;
}

/*testimonial*/
.testimony {
    margin-top: var(--ws-2);
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: var(--ws-3);
}

.testimonial-panel {
    border: 1px solid var(--secondary-clr);
    border-radius: 20px;
    padding: var(--ws-4);
}

.testimonial-panel > h5 {
    margin-bottom: var(--ws-2);
}

/*about*/
.about-heading {
    position: relative;
}
.about-heading h1 {
    font-size: var(--hero-fs);
    line-height: 0.7;
    font-weight: 600;
}

.about-heading h1:nth-child(2) {
    text-align: center;
}

.about-text { 
    display: flex;
    flex-direction: column;
    max-width: 20%;
    position: relative;
    right: -75%;
    margin-top: var(--ws-6);
}

.about-cta {
    margin-top: var(--ws-4);
}