/*================variables==================*/
:root {
    /*colors*/
    --accent-clr: rgb(240, 170, 41);
    --dominant-clr: rgb(228, 228, 228);
    --secondary-clr: rgb(34, 32, 32);
    /*font family*/
    --emphasis-ff: 'Montserrat', sans-serif;
    --regular-ff: 'Nuosu SIL', serif;
    --italized-ff: 'EB Garamond', serif; 
    /*font size*/
    --hero-fs: 10rem;
    --h1-fs: 2.25rem;
    --h2-fs: 1.5rem;
    --h3-fs: 1.25rem;
    --normal-fs: 1rem;
    --small-fs: .875rem;
    --smaller-fs: .813rem
}

/*===============css reset================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=================global==================*/
body {
    background-color: var(--dominant-clr);
}

a {
    text-decoration: none;
}

button, a:hover {
    cursor: pointer;
}

.container {
    min-width: 100%;
    margin: 0 auto;
    z-index: var(--z-index);
}

.section {
    max-width: 80%;
    margin: 0 auto;
}

/*===================header=================*/
header {
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

logo-panel > a {
    outline: 0;
}

.nav-list {
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 2rem;
}

.nav-link {
    color: var(--secondary-clr);
}

.ham-panel {
    display: none;
}

/*==============hero================*/
.hero-mp4 {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: -3;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    z-index: -1;
    background-color: rgba(31, 31, 31, 0.4);
}

.hero {
    height: fit-content;
    color: var(--dominant-clr);
}

.hero > h1 {
    font-size: var(--hero-fs);
    color: var(--dominant-clr); 
    line-height: 0.7;
}
.hero-heading {
    font-family: var(--regular-ff);
    
}

.hero-panel {
    margin-top: 2rem;
    margin-bottom: 13rem;
    font-family: var(--emphasis-ff);
}

.hero-italized {
    font-family: var(--italized-ff);
}

.hero-cta {
    background: none;
    border-color: var(--dominant-clr);
    border-radius: 100px;
    margin-top: 2rem;
    padding: .5rem 1.5rem;
    color: var(--dominant-clr);
    font-size: var(--h2-fs);
    outline: 0
}

/*=============about================*/
.about {
    width: 100%;
    min-height: 50vh;
    background-color: var(--dominant-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-panel {
    font-family: var(--emphasis-ff);
    font-size: var(--h1-fs);
    color: var(--secondary-clr);
    line-height: 0.9;
}

.about-text {
    font-size: 4.114rem;
}
.about-italized {
    font-family: var(--italized-ff);
    font-size: 4.9rem;
    letter-spacing: 4px;
    font-weight: 600;
    /*font-style: italic;*/
}

.about-text-2 {
    font-family: var(--regular-ff);
    font-size: 4.32rem;
    font-weight: 500;
}