* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    scroll-behavior: smooth;
}

/*================custom properties==================*/
:root {
    /*colors*/
    --accent-clr: #ff6347;
    --dominant-clr: rgb(241, 241, 241);
    --secondary-clr: rgb(0, 0, 0);

    /*font family*/
    --primary-ff: 'Raleway', sans-serif;;

    /*font size*/
    --hero-fs: 10rem;
    --h1-fs: 4.25rem;
    --h2-fs: 2.5rem;
    --h3-fs: 1.25rem;
    --normal-fs: 1rem;
    --small-fs: .875rem;
    --smaller-fs: .813rem;

    /*white-space*/
    --ws-1: .5rem;
    --ws-2: 1rem;
    --ws-3: 1.5rem;
    --ws-4: 2rem;
    --ws-5: 2.5rem;
    --ws-6: 3rem;
    --ws-adjustable: 10%;

    /*z-index*/

}


/*=================typography==================*/
body {
    font-size: var(--normal-fs);
    font-family: var(--primary-ff);
    color: var(--secondary-clr);
    background-color: var(--dorminant-clr);
}


a {
    text-decoration: none;
    outline: none;
    color: var(--secondary-clr);
}

button:hover, a:hover {
    cursor: pointer;
}

li {
    list-style: none;
}

/*===================general class styling=================*/
.container {
    width: 100%;
    margin: 0 auto;
    z-index: var(--z-index);
}

.hero, .testimonial, .about, .featured-works {
    padding: var(--ws-6)
    var(--ws-adjustable);
}

.section-head {
    font-size: var(--h1-fs);
    font-weight: 600;
    line-height: 0.8;
}

.btn{
    border-radius: 50px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    background: var(--secondary-clr);
    color: var(--dominant-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    
}

.btn:after {
    content: attr(data-text);
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: inset 0 0 0 1px var(--secondary-clr);
    background: var(--dominant-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    color: var(--secondary-clr);
    border-radius: 50px;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(../img/ink-blot.png);
    mask-image: url(../img/ink-blot.png);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: 1200% 1200%;
    mask-size: 1200% 1200%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: mask-play-reverse 1.5s steps(35) forwards; 
}

.btn:hover:after {
    animation: mask-play 0.9s steps(35) forwards;
}

@keyframes mask-play {
    from {
       -webkit-mask-size: 1200% 1200%;
       mask-size: 1200% 1200%;
    }
    to {
        -webkit-mask-size: 0% 0%;
        mask-size: 0% 0%;
    }
}

@keyframes mask-play-reverse {
    from {
       -webkit-mask-size: 0% 0%;
       mask-size: 0% 0%;
    }
    to {
        -webkit-mask-size: 1200% 1200%;
        mask-size: 1200% 1200%;
    }
}

/*===================global=================*/
img {
    width: 100%;
    height: auto;
}


/*===================header=================*/
header {
    max-width: 100%;
    padding: var(--ws-3) var(--ws-adjustable);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
}

li {
    display: inline-block;
    margin-left: var(--ws-4);
}

.nav-link {
 transition: all 1s;
}

.nav-link:hover {
    color: var(--accent-clr);
}

/*===================main=================*/
/*=======hero=======*/
.hero-mp4 {
    position: relative;
    top: -3.5rem;
    right: 0;
    width: 100%;
    min-height: 100%;
    border-radius: 40px;
    z-index: -1;
}

.hero-panel h1 {
    font-size: var(--hero-fs);
    line-height: 0.8;
    font-weight: 600;
}

.hero-logo {
    letter-spacing: 35px;
    text-transform: uppercase;
}

.hero-head {
    position: relative;
}

.hero-cta {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-weight: 600;
    overflow: hidden;
    text-transform: uppercase;
    background: var(--secondary-clr);
    color: var(--dominant-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-cta:after {
    content: attr(data-text);
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 0px 1px var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--dominant-clr);
    color: var(--secondary-clr);
    -webkit-mask-image: url(../img/ink-blot.png);
    mask-image: url(../img/ink-blot.png);
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: 1200% 1200%;
    mask-size: 1200% 1200%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    animation: mask-play-reverse 4s steps(35) forwards; 
}

.hero-cta:hover:after {
    animation: mask-play 0.9s steps(35) forwards;
}


.hero-hashtag {
    text-align: center;
}

/*gallery*/
.gallery-cta {
    position: relative;
    min-width: 100%;
    height: 30vh;
    overflow: hidden;
    background: var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-link-text {
    position: absolute;
    font-size: var(--hero-fs);
    -webkit-text-stroke: 2px var(--accent-clr);
    color: var(--secondary-clr);
    display: inline-block;
    min-width: 100%;
    height: 100%;
    animation: sliding-text 10s linear infinite;
}

@keyframes sliding-text {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

/*testimonial*/
.testimony {
    margin-top: var(--ws-2);
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: var(--ws-3);
}

.testimonial-panel {
    border: 1px solid var(--secondary-clr);
    border-radius: 20px;
    padding: var(--ws-4);
}

.testimonial-panel > h5 {
    margin-bottom: var(--ws-2);
}

/*about*/
.about-heading {
    position: relative;
}
.about-heading h1 {
    font-size: var(--hero-fs);
    line-height: 0.7;
    font-weight: 600;
}

.about-heading h1:nth-child(2) {
    text-align: center;
}

.about-text { 
    display: flex;
    flex-direction: column;
    max-width: 20%;
    position: relative;
    right: -75%;
    margin-top: var(--ws-6);
}

.about-cta {
    margin-top: var(--ws-4);
    height: 30px;
}

/*featured works*/
.fw-panel {
    width: 100%;
    display: grid;
    grid-template-columns: 400px 750px;
}

.fw-img {
    background-image: url("../img/pexels-cottonbro-4123906.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    margin-right: var(--ws-6);
    border-radius: 20px;
}

.fw-gallery {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: var(--ws-4);
}

.a-img {
    background-image: url("../img/pexels-max-vakhtbovych-7393987.jpg");
}

.gallery-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    border-radius: 20px;
}

.b-img {
    background-image: url("../img/pexels-lucas-alves-3611570.jpg");
}

.fw-gallery-cta {
    position: relative;
    right: 0;
    top: 320px;
    height: 30px;
}